stages:
  - pre_check
  - deploy

variables:
  # System environment
  MAKEFLAGS: "-j5 --no-keep-going"
  # more attempts for more robust
  GET_SOURCES_ATTEMPTS: "10"
  ARTIFACT_DOWNLOAD_ATTEMPTS: "10"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none
  ADF_PATH: "$CI_PROJECT_DIR"
  IDF_PATH: "$CI_PROJECT_DIR/esp-idf"
  IDF_SKIP_CHECK_SUBMODULES: 1
  GIT_DEPTH: 1
  ESP_DOCS_ENV_IMAGE: "$CI_DOCKER_REGISTRY/esp-idf-doc-env-v5.4:1-1"

before_script:
  - source $ADF_PATH/tools/ci/utils.sh
  - add_gitlab_ssh_keys
  - update_submodule_remote

push_to_github:
  stage: deploy
  extends:
    - .rules:build:push-to-github
  when: on_success
  image: $CI_DOCKER_REGISTRY/esp32-ci-env
  variables:
    GIT_STRATEGY: clone
  before_script:
    - echo "skip default before_script"
  script:
    - source $ADF_PATH/tools/ci/utils.sh
    - add_github_ssh_keys
    - git fetch --unshallow
    - git remote remove github &>/dev/null || true
    - git remote add github git@github.com:espressif/esp-adf.git
    - tools/ci/push_to_github.sh

include:
  - '.gitlab/ci/rules.yml'
  - '.gitlab/ci/docs.yml'
  - '.gitlab/ci/pre-check.yml'
